* {padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
html {
    font-size: 62.5%;
}
body {
    background-image: url('https://www.publicdomainpictures.net/pictures/60000/velka/old-paper-texture-background.jpg');
}

header {
    min-height: 15vh;
    border-bottom: sienna;
    border-bottom-style:double;
    border-bottom-width: 4px;
    width: 100%;
    }

 header .lapiz
 {
    margin-left: 20px;
    height: 60px;
    width: 70px;
    margin-top: 10px;
    justify-content: flex-start;
    }
 header h1 {
        margin-right: 19px;
        margin-top: 2%;
        color: rgb(56, 23, 8);
        font-size: 14px;
        height: 60%;
    float: right;
        }

.container_main_aside {
    min-height: 65vh;
    display: flex;
    margin-top: 30px;

}    

.main {
    width: 100%;
    height: 100%;
    display: flex;
    }

.main p {
    color: rgb(56, 23, 8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    justify-self: center;
    margin-top: 85px;
    margin-left: 30px;
}   
.canvas {
    background-image: url('https://www.publicdomainpictures.net/pictures/70000/velka/background-papier-blanc-3.jpg');
    align-items: left;
    background-color: white;
    margin-top: 10px;
    margin-left: 30px;
    border: 3px; border-style: solid; border-color:rgb(56, 23, 8);
}
aside {
   display: flexbox;
   height: 100%;
   width: 50%;
}
.elegir_color {
    width: 100%;
    height: 100%;  
}
aside p {
    color: rgb(56, 23, 8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    justify-self: center;
    margin-top: 85px;
    margin-left: 2px;
}
button {
    position:absolute;
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    border-color:rgb(56, 23, 8) brown;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 20px;
        }

 #rainbow {
    border-radius: 8px;
    border-width: 3px;
    border-style: solid;;
    border-color: darkred;
    
}
#rainbow, button {
    align-items: center;
    justify-self: center;
    width: 120px;
    height: 50px;
    background-color:transparent;
    margin-top: 30px;
}
 footer {
   
    border-top: sienna;
    border-top-style: double;
    border-top-width: 6px;
    width: 100%;
    height: 10vh;
    }
.footer_container {
    height: 100%;
    font-weight:bold;
    font-size: 14px;
    color:rgb(153, 56, 11);
    margin-top: 30px;
    display: flex;
    }
footer .p1 {
   height: 100%;
   width: 50%;
   margin-left: 50px;
}
footer .p2 {
    display: inline-block;
    height: 100%;
    width: 40%;
margin-left: 70vh;}

a:hover {
    color:red
}